PORT=5120


# Email Variables
SMTP_FROM=
SMTP_HOST=
SMTP_PASSWORD=
SMTP_PORT=
# SMTP_SERVICE=smtp2go
SMTP_USER=

# Firebase Variables
Firebase_API_KEY=
Firebase_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
Firebase_STORAGEBUCKET=
Firebase_MESSAGESENDERID=
Firebase_APPID=
Firebase_MEASUREMENTID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=


REDIS_HOST=
REDIS_PORT=
# Password Variables
JWT_SECRET=
JWT_REFRESH_SECRET=


DB_HOST=
DB_PORT=
DB_NAME=
DB_USER= 
DB_PASSWORD=""


# Encryption / Decryption Variables
RSA_SECRET=

POSTGRES_URI=

NODE_ENV=


# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL=